@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply text-xs
}

body{
  @apply bg-gray-50 dark:bg-dark-tremor-brand-faint;
}

.active {
  @apply text-blue-600 font-semibold;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}