# TODO: Variables para levantar la API
  PUERTO_API=

# TODO: Variable para Base De Datos Mongo DB
  MONGODB_URI_MULTIRED=''
  MONGODB_URI_SERVIRED=''

# TODO: login
  MYSQLLOGIN=''
  USR=''
  PORT=
  PASS=''
  DATABASE=''

# TODO: credenciales ocs Inventory
  OCS_HOST=''
  OCS_USER=''
  OCS_PASS=''
  OCS_DB=''
  OCS_PORT=

# TODO: llave Secreta Es Buena practica Cambiarla de vez en cuando
  JWT_SECRET=''

  EMAIL_USER=''
  EMAIL_PASS=''